src/main/mule/sonarqubexpath-rules.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sql-system-api="http://www.mulesoft.org/schema/mule/sql-system-api"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/sql-system-api http://www.mulesoft.org/schema/mule/sql-system-api/current/mule-sql-system-api.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="500f577a-03fb-499a-863d-2257d67c634f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="raml-connFlow" doc:id="17300573-944a-4711-8c79-2b1cd68586a7" doc:description="bkhb">
		<http:listener doc:name="Listener" doc:id="03a875f3-8aeb-4dcb-974a-d2dfc8e709ca" config-ref="HTTP_Listener_config" path="/abcd"/>
		<logger level="INFO" doc:name="Logger" doc:id="4f3c87c8-b8a0-4c80-9e51-f1bba993dc8d" message="#[payload]"/>
		<choice doc:name="Choice" doc:id="2903ce2e-ad17-4fe0-b699-ca572104ad42" >
			<when />
		</choice>
		<choice doc:name="Choice" doc:id="1c4987d1-204d-4fa1-b256-2afc6f58f9dc" >
			<when />
		</choice>
	
</flow>
	<sub-flow name="raml-connSub_Flow" doc:id="b800e8c4-95d0-401e-a7f5-085407e1ed96" doc:description="abcd">
		<logger level="INFO" doc:name="Logger" doc:id="2375dff8-edc7-4626-9fd2-d4568a9c1f18" message="#[payload]"/>
	
</sub-flow>
	<flow name="sonarqubexpath-rulesFlow" doc:id="b7df9536-1bd2-4763-8897-05ea20c0b7f2" >
		<http:listener doc:name="Listener" doc:id="1ecd5899-5910-45b7-92fb-ad8dd0e15813" config-ref="HTTP_Listener_config" path="/demo"/>
		<choice doc:name="Choice" doc:id="0bd12702-146e-4e39-8d6b-eb8bd2d7c190" >
			<when />
		</choice>
	</flow>
	<flow name="sonarqubexpath-rulesFlow1" doc:id="3de70cd6-c36c-465d-b2ea-358143e32c77" >
		<choice doc:name="Choice" doc:id="cdbc6161-4135-41dd-80b6-3db88ac50e7d" >
			<when />
		</choice>
	</flow>
	<flow name="sonarqubexpath-rulesFlow2" doc:id="33184f53-3950-4bbc-9d10-bde74646888a" >
		<choice doc:name="Choice" doc:id="a0137a1d-cfb2-438c-b1b7-c945833490b5" >
			<when />
		</choice>
	</flow>
	<flow name="sonarqubexpath-rulesFlow3" doc:id="f9192d26-8f63-4832-871c-02980024b6e6" >
		<choice doc:name="Choice" doc:id="995793f3-518e-48c3-b1a8-965017178562" >
			<when />
		</choice>
	</flow>
	<flow name="sonarqubexpath-rulesFlow4" doc:id="af1bf93e-282d-473f-b6f2-aa4c214377d6" >
		<choice doc:name="Choice" doc:id="dd09eebd-fd3a-41ca-9d7c-ea49dd74b5ac" >
			<when />
		</choice>
	</flow>
	<flow name="sonarqubexpath-rulesFlow5" doc:id="2cc82a40-001e-4a0e-9039-adb229fe164f" >
		<choice doc:name="Choice" doc:id="2df29373-3284-4d0f-971d-5c753d3e81f3" >
			<when />
		</choice>
	</flow>
	<flow name="sonarqubexpath-rulesFlow6" doc:id="8ab1e953-61e0-4e4a-a5f4-b4fcccbda27c" >
	</flow>

</mule>
